
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    width: 300px;
    margin-top: 50px;
}

.calculator input {
    width: 100%;
    margin-bottom: 10px;
}

.calculator button{
    margin: 5px;
}
